
header {
  background-color: red;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  color: black;
}

.bold-text {
  color: black;
  font-size: 30px;
}

.title-text {
  color: black;
  font-size: 60px
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: left;
  color: white;
}
